.search-input {
  margin-left: 400px;
  margin-top: 70px;
}

.input-field {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border: none;
}

button {
  margin-left: 10px;
  height: 45px;
  width: 200px;
  border-radius: 10px;
  border: none;
}

.refreshbtn {
  margin-bottom: 20px;
  margin-left: 160px;
}
